
@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>
@Html.ActionLink("Click here to manage users.", "Index", "Account") <br />
@Html.ActionLink("Click here to manage roles.", "Index", "IdentityRole") <br />
@Html.ActionLink("Click here to manage the Stories.", "Index", "Stories") <br />
@Html.ActionLink("Click here to manage the reviews.", "Index", "Reviews") <br /> 