@model IEnumerable<ShortStoryReviewSite.Models.Story>
@{
    ViewBag.Title = "ListStories";
}
<h2>Microbreweries in Northern Michigan</h2>
@{Html.BeginForm("Search", "Stories", FormMethod.Get);}
<input type="text" name="q" value="" />
<input type="submit" value="Search" />
@{Html.EndForm();}
&nbsp;

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id }) <br />
                @Html.DisplayFor(modelItem => item.Title) <br />
                @Html.DisplayFor(modelItem => item.Author) <br />
                @Html.DisplayFor(modelItem => item.Genre) <br />
            </td>
        </tr>
    }
</table>
